html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}


a, a:hover, a:focus{
  text-decoration: none;
}


.main{
  /*
  background-color: #555;
  background: url('resources/background.jpg') center center no-repeat;
  background-size: cover;
  background-attachment: none;
  width: 100%;
  */
}

.ham-menu-button{
  text-decoration: none;
  position: absolute;
  z-index: 10;
}

.ham-menu-button i{
  padding: 30px;
  color: #2F5267;
  transition: color ease-in-out 300ms;
}

.ham-menu-button:hover i{
  color: #557674;
}

.ham-menu{
  width: 0%;
  height: 100%;
  background-color: #2F5267;
  position: fixed;
  z-index: 999;
  transition: all ease-in-out 500ms;
  overflow: hidden;
  z-index: 999;
}

.tab-wrap{
  background-color: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.ham-tab{
  display: block;
  font-size: 45px;
  text-align: center;
  text-decoration: none;
  color: #BEBFB4;
  padding: 15px 0px;
  font-family: 'Quicksand';
  transition: color ease 300ms;
}

.ham-tab:hover{
  color: #fff;
}

.closer{
  font-size: 20px;
}

.hero_content{
  background-color: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

}

.message{
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 75px;
  text-align: center;
  color: rgba(66,104,111,1);
  margin-bottom: 20px;
  padding: 0 15px;
}

.story_button{
  border: 1px #2F5267 solid;
  border-radius: 5px;
  padding: 20px;
  color: #557674;
  text-decoration: none;
  transition: all ease-in-out 300ms;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.button-inner{
  border: 1px #2F5267 solid;
  border-radius: 5px;
  padding: 15px 20px;
  color: #557674;
  text-decoration: none;
  transition: all ease-in-out 300ms;
}

.story_button:hover{
  color: #E3DBC5;
  background-color: #2F5267;

}

.wrapper{
  height: 1400px;
}

.intro_message{
  padding: 20px 0;
  font-size: 50px;
}

.info_piece{

  border-radius: 10px;
  padding: 0px;
  margin: 10px 0;
}

.info_glyph{
  text-align: center;
  font-size: 70px;
  color: #2F5267;
  padding: 15px 0;
}

.info_piece p{
  text-align: center;
}
