html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

*{
  font-family: "Quicksand";
}

a, a:hover, a:focus{
  text-decoration: none;
  color: #fff;
}

.push-top{
  padding: 35px 25px;
  text-align: justify;
}

@font-face {
  font-family: Old Growth;
  src: url('resources/fonts/OldGrowth-Regular.otf');
}

.top-nav{
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  background-color: #fff;
}

.top-nav>a{
  font-size: 15px;
  font-family: "Quicksand", Helvetica, sans-serif;
  font-weight: 300;
  padding: 5px 15px;
  float: left;
  color: #8CC06F;
  margin: 10px 0;
}

.main{
  width: 100%;
  background-size: cover;
}

.hero_content{
  background-color: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

}

.message{
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 75px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  padding: 0 15px;
}

.story_button{
  border: 1px #fff solid;
  border-radius: 5px;
  padding: 20px;
  color: #fff;
  text-decoration: none;
  transition: all ease-in-out 300ms;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.button-inner{
  border: 1px #2F5267 solid;
  border-radius: 5px;
  padding: 15px 20px;
  color: #557674;
  text-decoration: none;
  transition: all ease-in-out 300ms;
}

.story_button:hover{
  color: #53914C;
  background-color: #fff;

}

.wrapper{
  margin-top: 45px;
}

.divider{
  height: 5px;
  width: 100%;
  background: linear-gradient(to right, #B3E16B, #53914C)
}
